<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WiserSoft.DATA.BD.Connection" connectionString="Data Source=.;Initial Catalog=FERIAS_AGRICOLAS_VIRTUALES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>